*{
    margin: 0;
    padding: 0;
} 

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 480px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container button {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    color: #fff;
    border-radius: 25px;
}

button {
    border: 0px solid;
    cursor: pointer;
}

.container button:nth-child(1) {
    background: linear-gradient(to right,#654ea3, #eaafc8);
    background-size: 150%;
}
.container button:nth-child(2) {
    background: linear-gradient(to right,#00F260, #0575E6);
    background-size: 150%;
}
.container button:nth-child(3) {
    background: linear-gradient(to right,#FC5C7D, #6A82FB);
    background-size: 150%;
}

.container button:hover {
    background-position-x: 100%;
    transform: translateY(-15px);
}


.container button::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 90%;
    height: 4px;
    left: 5%;
    background: rgba(0,0,0,0.2);
    border-radius: 50%;
    transform: scale(0);
    transition: 0.5s;
    filter: blur(4px);
    z-index: -1;
}

.container button:hover::before {
    transform: scale(1);
    bottom: -15px;
}


















/* .square {
    width: 200px;
    height: 200px;
    background:rgb(43, 44, 44);

}

.square2 {
    width: 40px;
    height: 40px;
    background: goldenrod;
    position: absolute;
    left: 0;
    top: 0;
}




 */

/* 
.container1 {
    width: 300px;
    height: 300px;
    background: purple;
}

.container2 {
    width: 300px;
    height: 300px;
    background: rgb(0, 66, 128);
}

.container3 {
    width: 300px;
    height: 300px;
    background: rgb(45, 218, 183);
}
.container4 {
    width: 300px;
    height: 300px;
    background: rgb(169, 218, 45);
}
.container5 {
    width: 300px;
    height: 300px;
    background: rgb(218, 45, 195);
} */